<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body class="w-full bg-slate-300">
    <div class="container md:w-[768px] mx-auto my-5">
        <div class="text-center text-gray-700 shadow-md rounded-md mx-4 py-4">
            <h1 class="text-[40px] font-bold ">Dream Dictionary</h1>
            <h2 class="text-[20px]">(အိပ်မက်အဘိဓာန်)</h2>
        </div>
        <div class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2">
            <% blogHeader.forEach((blog, index) => { %>
            <button class="card m-2 p-5" data-blogid="<%= index + 1 %>">
                <p class="text-[30px] md:text-[40px] font-bold text-slate-400"><%= blog.BlogTitle.replace("[", "").replace("]", "").at(1) %></p>
                <p class="text-[15px] md:text-[17px]"><%= blog.BlogTitle.slice(5) %></p>
            </button>
            
            <% }) %>
        </div>
    </div>
    <script src="alphabet.js"></script>
</body>
</html>