<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body class="w-full bg-slate-300">
    <div class="container md:w-[768px] min-h-screen mx-auto bg-white rounded-lg">
        <div class="text-center text-gray-500 shadow-md rounded-md mx-4 py-4">
            <h1 class="text-[25px] sm:text-[30px] font-bold "><%= title.replace("[", "'").replace("]", "'") %></h1>
        </div>
        <% for (let blog of blogs) { %>
            <div class="flex items-center">
                <p class="text-sm p-2"><%= numberArr[blogs.indexOf(blog)] %>။</p>
                <p class="leading-7 tracking-wide py-4 px-1">
                    <%= blog.BlogContent %>
                </p>
            </div>
          <% } %>
    </div>
</body>
</html>